gymnasium
numpy
torch
torchvision
pyglet
PyOpenGL
PyQt5
requests
tensorboard
tensorboard-plugin-wit
tensorboardX
torch-geometric
torch-cluster
torch-scatter
torch-sparse
torch-spline-conv
tqdm
typing
typing-extensions
wandb
setproctitle
imageio
loguru

